<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.spring.project.admin.dao.AdminDAO">

	<!-- 학생 가입처리  -->
	<!-- <insert id="insertMember" parameterType="spring.mvc.member_mybatis.vo.MemberVO">
		insert into student(id,pwd,name,jumin1,jumin2,hp,email,reg_date) 
						values(#{id},#{pwd},#{name},#{jumin1},#{jumin2},#{hp},#{email},#{reg_date})
	</insert> -->
	
</mapper>