<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.spring.project.restful.dao.RestfulDAO">
	<select id="getMessages" parameterType="java.util.Map" resultType="com.spring.project.restful.vo.Message">
		SELECT * FROM getmessage_view
    	<where> 
			userNumber = #{userNumber}
			<if test="readStatus != null">
			AND readstatus = #{readStatus}
			</if>
		</where>
	</select>
	
	<update id="messageReadSet" parameterType="java.util.Map">
	UPDATE messages SET readstatus = 1
    WHERE messagecode = #{messageCode}
	</update>

	<select id="getMessage" parameterType="java.util.Map" resultType="com.spring.project.restful.vo.Message">
		SELECT * FROM getmessage_view
		<where> 
			messageCode = #{messageCode}
			<if test="readStatus != null">
			AND readstatus = #{readStatus}
			</if>
		</where>
	</select>
</mapper>