<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.spring.project.restful.dao.RestfulDAO">
	<select id="getMessages" parameterType="java.util.Map" resultType="com.spring.project.restful.vo.Message">
		SELECT * FROM getmessage_view
    	<where> 
			userNumber = #{userNumber}
			<if test="readStatus != null">
			AND readstatus = #{readStatus}
			</if>
		</where>
	</select>
	
	<update id="messageReadSet" parameterType="java.util.Map">
	UPDATE messages SET readstatus = 1
    WHERE messagecode = #{messageCode}
	</update>

	<select id="getMessage" parameterType="java.util.Map" resultType="com.spring.project.restful.vo.Message">
		SELECT * FROM getmessage_view
		<where> 
			messageCode = #{messageCode}
			<if test="readStatus != null">
			AND readstatus = #{readStatus}
			</if>
		</where>
	</select>
	
	<insert id="sendMessage" parameterType="java.util.Map">
	INSERT INTO messages
    VALUES(
    messages_seq.nextval,
    #{recvUser}
    , #{sendUser}
    , #{message}
    , 0
    , localtimestamp
    , #{notify})
	</insert>
	
	
	
	<!-- ================================================ANDROID=START=============================================== -->
	<select id="getUser" resultType="com.spring.project.restful.vo.RestUser">
	SELECT u.userNumber, u.userPassword, u.userName, u.userImage, u.gender, u.userCellNum
     , std.grade, std.adDate, std.graDate, m.faculty, m.majorName, u.delStatus
     FROM users u JOIN student std
     ON u.userNumber = std.stdNumber
     JOIN major m
     ON std.majorNum = m.majorNum
     WHERE u.userNumber = #{userNumber}
	</select>
	
	<select id="getLocation" resultType="com.spring.project.restful.vo.Location">
	SELECT area, locality, thoroughfare, x, y
    FROM
    (SELECT ROWNUM rnum, area, locality, thoroughfare, x, y 
        FROM locations 
        where area like '%'||#{area}||'%'
        AND locality like '%'||#{locality}||'%'
        AND thoroughfare like '%'||#{thoroughfare}||'%')
    WHERE rnum = 1
	</select>
	<!-- ================================================ANDROID=END=============================================== -->
	
</mapper>